body {
    font-family: "Poppins", sans-serif;
    background-color: #fffaf6;
}

.row {
    display: flex;
    justify-content: center;
    align-items: end;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: #81838d;
    font-size: 16px;
}

.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
}

.cherry {
    border-left: 3px solid #ff7d7d;
}

.joaninha {
    border-left: 3px solid #ff4d4d;
}

.lagarta {
    border-left: 3px solid #8fdd93;
}
